In [1]:
import pandas as pd
import numpy as np

In [2]:
p1 = "./data/DATA.xlsx"
p2 = "./data/concrete/Concrete_Data_Yeh.csv"

In [3]:
df1 = pd.read_excel(p1)
df2 = pd.read_csv(p2)

In [4]:
df1.head()

    PH  Cond.(uS/cm)  TDS (PPM)  DO (mg/lts)  ORP (mg/ltr)  Turbidity (N.T.U.)
0  8.5          3.01       1230         10.0           281                   2
1  8.0          0.92        429         12.0           294                   2
2  7.5          1.73        714         14.5           277                   2
3  7.0          3.28       1260         12.5           292                   2
4  6.8          3.32       1280         12.0           302                   2

In [5]:
df2.head()

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [6]:
print(len(df1))
print(len(df2))

499
1030

In [7]:
from src.preprocess import AutoPreprocessor

In [8]:
autop = AutoPreprocessor(target_column="csMPa")
train_df, test_df = autop.fit_transform(df2)

INFO:src.preprocess:Starting preprocessing pipeline...
INFO:src.preprocess:Preprocessing complete!

In [9]:
train_df.head()

,water,mean_numerical,cement,superplasticizer,water_superplasticizer_mult,std_numerical,fineaggregate,slag,coarseaggregate,flyash,csMPa
995,175.1,326.657143,158.6,15.0,2626.50,358.580753,719.7,148.9,953.3,116.0,27.68
507,185.0,319.114286,272.9,6.4,1184.00,396.028435,779.5,22.0,968.0,0.0,62.05
334,159.5,342.428571,275.1,9.9,1579.05,410.230454,777.5,0.0,1053.6,121.4,23.80
848,185.0,319.114286,272.9,6.4,1184.00,396.028435,779.5,22.0,968.0,0.0,33.40
294,158.3,340.214286,168.9,10.8,1709.64,420.867522,796.2,42.2,1080.8,124.3,7.40